.header {
  display: flex;
}

table {
  background: #fff;
  color: #062f4f;
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
  font-size: 0.9rem;
  thead, tr {
    text-transform: capitalize;
    text-align: left;
    font-size: 1.4rem;
  }
  th, tr, td {
    padding: 1rem;
  }
}

