.form-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  margin: 1rem 0;
  select {
    width: 50%;
    border-radius: 1rem;
    padding: 0.8rem 1.2rem;
    background: #999;
    color: #000;
  }
}
