<div class="container">
  <div class="actions">
    <div class="action" (click)="irTela('pessoa/cadastro')">
      <h3>Cadastro de Novas Pessoas</h3>
      <img src="https://cdn-icons-png.flaticon.com/512/5363/5363451.png" alt="Imagem de pessoas">
    </div>
    <div class="action" (click)="irTela('banco/cadastro')">
      <h3>Cadastrar Banco de Aleitamento</h3>
      <img src="https://cdn-icons-png.flaticon.com/512/5988/5988246.png" alt="Imagem de casa, remetendo ao banco de aleitamento">
    </div>
    <div class="action" (click)="irTela('leite-materno/cadastro')">
      <h3>Cadastrar Registro de Leite Materno</h3>
      <img src="https://cdn-icons-png.flaticon.com/512/1848/1848383.png" alt="Imagem de mamadeira de leite">
    </div>
    <div class="action" (click)="irTela('agendamento/cadastro')">
      <h3>Realizar Agendamento</h3>
      <img src="https://cdn-icons-png.flaticon.com/512/2472/2472332.png" alt="Imagem de calendário, rementendo à cadastro de agendamento">
    </div>
  </div>
</div>
