<div class="container">
  <div class="details">
    <div class="subcontainer">
      <h1 class="title">Gotas de amor para um<br>mundo melhor,</h1>
      <h3 class="subtitle">Slogan da campanha do Dia Mundial de Doação do Leite Humano, 2022</h3>
      <p class="text">“A amamentação possui<br>todos os nutrientes que um<br>bebê necessita: Amor,<br>Carinho e Proteção da<br>Mamãe.”</p>
    </div>
    <div class="buttons">
      <button class="btn-primary" (click)="listarDuvidasDoacao()">Como Doar</button>
      <button class="btn-outlined" (click)="listarDuvidasRecebimento()">Como Receber</button>
    </div>
  </div>
  <img src="../../../assets/mae-amammentando-principal.png" alt="Desenho de mãe amamentando filho.">
</div>
