<div class="container">
  <div class="details">
    <div class="subcontainer">
      <h1 class="title">Gotas de amor para um mundo melhor,</h1>
      <h3 class="subtitle">Slogan da campanha do Dia Mundial de Doação do Leite Humano, 2022</h3>
      <p class="text">“A amamentação possui todos os nutrientes que um bebê necessita: Amor, Carinho e Proteção da Mamãe.”</p>
    </div>
    <div class="buttons">
      <button title="Como doar leite materno" class="btn-primary" (click)="listarDuvidasDoacao()">Como Doar</button>
      <button title="Como receber leite materno" class="btn-outlined" (click)="listarDuvidasRecebimento()">Como Receber</button>
    </div>
  </div>
  <img src="../../../assets/mae-amammentando-principal.png" alt="Desenho de mãe amamentando filho.">
</div>
