@import '../../../styles.scss';
.container {
  display: block;
  flex-direction: column;
  .gradient-banner {
    background: linear-gradient(95.15deg, #ED8093 0%, #EE8A9A 19.61%, #F9DDD2 98.96%);
    padding: 40px;
    text-align: center;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
      color: $base-color;
      font-size: 32px;
      font-weight: 700;
      line-height: 120%;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    p {
      font-size: 24px;
      font-weight: 700;
      line-height: 110%;
    }
  }
  .last-banner {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    text-align: justify;
    color: $gold-color;
    font-size: 28px;
    line-height: 120%;
    font-weight: 600;
    p {
      padding-right: 20px;
    }
    @media screen and (max-width: 1024px) {
      display: flex;
      flex-direction: row;
      text-align: center;
      p {
        margin-bottom: 50px;
      }
    }
    img {
      background-color: $primary-color;
      width: 450px;
      border-radius: 50%;
      shape-outside: circle(50%);
      margin: 10px;
    }
  }
}
