<div class="container">
  <div class="gradient-banner">
    <h1>Acha que você não se encaixa no nosso sistema?</h1>
    <p>
      A Organização Mundial da Saúde (OMS) recomenda que os bebês sejam
      alimentados exclusivamente com leite materno até os 6 meses de idade. E
      que, mesmo após a introdução dos primeiros alimentos sólidos, sigam sendo
      amamentados até, pelo menos, os 2 anos de idade.
    </p>
  </div>
  <div class="last-banner">
    <p>
      O leite materno tem os nutrientes que o bebê precisa para crescer e se
      desenvolver bem e é de fácil digestão para o organismo do bebê. Além
      disso, ele protege contra infecções e ajuda a mãe e o bebê a desenvolverem
      uma relação muito mais próxima e afetuosa.
    </p>
    <img
      src="../../../assets/maes-amammentando.png"
      alt="Desenho duas mães segurando seus filhos."
    />
  </div>
</div>
