
table {
  border-radius: 1.2rem;
  background: #fff;
  color: #062f4f;
  width: 100%;
  margin: 2rem 0;
  font-size: 0.9em;
  thead, tr {
    text-align: left;
    font-size: 18px;
  }
  th {
    text-transform: uppercase;
  }
  th, tr, td {

    padding: 12px 15px;
  }
}
