<form (ngSubmit)="submit()" [formGroup]="pessoaForm" #formDir="ngForm">
  <div class="step-group">
    <div *ngIf="currentStep == 1" class="form-group">
      <label for="nome">* Nome:</label>
      <input
        type="text"
        placeholder="Informe o nome"
        formControlName="nome"
        required
      />
      <div class="validation-error">
        <p *ngIf="nome.errors?.['required']">* O nome é obrigatório!</p>
      </div>
      <label for="rg">* RG:</label>
      <input
        type="text"
        placeholder="Informe o RG"
        formControlName="rg"
        mask="000.000.000"
        required
      />
      <div class="validation-error">
        <p *ngIf="rg.hasError('required')">* O RG é obrigatório!</p>
        <p *ngIf="rg.errors?.['minlength']">* RG inválido!</p>
      </div>
      <label for="cpf">* CPF:</label>
      <input
        type="text"
        placeholder="Informe o CPF"
        formControlName="cpf"
        mask="000.000.000-00"
        required
      />
      <div class="validation-error">
        <p *ngIf="cpf.errors?.['required']">* O CPF é obrigatório!</p>
        <p *ngIf="cpf.errors?.['minlength']">* CPF inválido!</p>
      </div>
    </div>
    <div *ngIf="currentStep == 2" class="form-group">
      <label for="cep">* CEP:</label>
      <input
        type="text"
        placeholder="Informe o CEP"
        formControlName="cep"
        (input)="validateCep()"
        mask="00000-000"
        required
      />
      <div class="validation-error">
        <p *ngIf="cep.errors?.['required']">* O CEP é obrigatório!</p>
        <p *ngIf="cep.errors?.['minlength']">* CEP inválido!</p>
      </div>
      <label for="uf">* UF:</label>
      <input
        type="text"
        placeholder="Informe a Unidade Federativa"
        formControlName="uf"
        mask="SS"
        required
      />
      <div class="validation-error">
        <p *ngIf="uf.errors?.['required']">
          * A Unidade Federativa é obrigatória!
        </p>
        <p *ngIf="uf.errors?.['maxlength']">* RG inválido!</p>
      </div>
      <label for="localidade">* Localidade:</label>
      <input
        type="text"
        placeholder="Informe a localidade"
        formControlName="localidade"
        required
      />
      <div class="validation-error">
        <p *ngIf="localidade.errors?.['required']">
          * A Localidade é obrigatória!
        </p>
      </div>
      <label for="logradouro">* Logradouro:</label>
      <input
        type="text"
        placeholder="Informe o logradouro"
        formControlName="logradouro"
        required
      />
      <div class="validation-error">
        <p *ngIf="logradouro.errors?.['required']">
          * O Logradouro é obrigatório!
        </p>
      </div>
      <label for="bairro">* Bairro:</label>
      <input
        type="text"
        placeholder="Informe o bairro"
        formControlName="bairro"
        required
      />
      <div class="validation-error">
        <p *ngIf="bairro.errors?.['required']">* O Bairro é obrigatório!</p>
      </div>
      <label for="numero">* Número:</label>
      <input
        type="text"
        placeholder="Informe o numero"
        formControlName="numero"
        required
      />
      <div class="validation-error">
        <p *ngIf="numero.errors?.['required']">* O Número é obrigatório!</p>
      </div>
      <label for="complemento">Complemento:</label>
      <input
        type="text"
        placeholder="Informe o complemento"
        formControlName="complemento"
      />
    </div>
  </div>
  <div *ngIf="currentStep == 3" class="contato-add-group">
    <div class="form-group">
      <label>Dado contato:</label>
      <input #dadoContato type="text" placeholder="Informe o dado" />
    </div>
    <button
      title="Adicionar novo contato"
      type="button"
      class="btn-primary"
      (click)="registerContato(dadoContato.value)"
    >
      Adicionar
    </button>
    <div *ngIf="contatoList.length > 0" class="contact-list">
      <ul *ngFor="let contato of contatoList">
        <li>{{ contato.dado }}</li>
        <button
          title="Remover contato cadastrado"
          class="btn-primary"
          (click)="removeContato(contato.id)"
        >
          remover
        </button>
      </ul>
    </div>
  </div>
  <div class="step-controller">
    <button
      title="Voltar para o passo anterior"
      *ngIf="currentStep > 1"
      class="btn-primary"
      (click)="previousStep()"
    >
      Passo anterior
    </button>
    <button
      title="Ir para o próximo passo"
      *ngIf="currentStep < lastStep"
      class="btn-primary"
      (click)="nextStep()"
    >
      Próximo passo
    </button>
    <button
      title="Cadastrar pessoa"
      *ngIf="currentStep === lastStep"
      type="submit"
      class="btn-primary"
    >
      Cadastrar
    </button>
  </div>
</form>
